{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <h2>Add course</h2>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <div>
                <label class="col-form-label mt-4" for="inputDefault">Course Name</label>
                <input type="text" class="form-control" name='course'
                       placeholder="Course Name" id="Default">
            </div>
            <div>
                <label for="formFile" class="form-label mt-4">Image</label>
                <input class="form-control" type="file" id="formFile" name="image">
            </div>
            <div>
                <label class="col-form-label mt-4" for="InputDefault">Title</label>
                <input type="text" class="form-control" name='title'
                       placeholder="Course Name" id="InputDefault">
            </div>
            <div>
                <label for="exampleTextarea" class="form-label mt-4">Body</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" name="body"></textarea>
            </div>
            <div>
                <label for="exampleSelect1" class="form-label mt-4">Select Category</label>
                <select class="form-select" id="exampleSelect1" name="category">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>

{% endblock content %}